@import url("https://necolas.github.io/normalize.css/latest/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&display=swap");
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #292929;
}

.body--active-submenu {
  overflow: hidden;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.maincontent {
  height: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  will-change: transform;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background: #1968B1;
  background: url("https://github.com/volodmen/project3/blob/main/img/bg.jpg?raw=true") center top no-repeat;
  height: 100vh;
  min-height: 36.1111111111rem;
  color: #fff;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .hero {
    background: #1968B1 url("https://github.com/volodmen/project3/blob/main/img/arnaud.png?raw=true") center top 5rem no-repeat;
  }
}

.hero__title-section {
  width: 46%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .hero__icon-section {
    display: none;
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 1.3333333333rem 0 2.5rem 0;
}

.hero__main-title {
  font-size: 2.6666666667rem;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 1.6666666667rem;
  text-transform: uppercase;
}

.hero__title-desc {
  font-size: 1.1666666667rem;
  margin-bottom: 2.8888888889rem;
  padding-right: 10%;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    padding: 0 20%;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bold;
}

.logo {
  display: block;
  max-width: 3.3333333333rem;
}

@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.phone-number {
  font-size: 1.3333333333rem;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-number__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.phone-number__text {
  white-space: nowrap;
}

.phone-number__icon-elem {
  width: 0.6666666667rem;
  height: 0.8333333333rem;
  margin-right: 0.3333333333rem;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 1.8888888889rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  width: 2.5rem;
  margin-right: 0.3888888889rem;
}

.feature__text {
  font-size: 0.8888888889rem;
  max-width: 4.7222222222rem;
}

.btn {
  font-size: 0.8888888889rem;
  font-weight: 800;
  padding: 1.2222222222rem 2.2777777778rem;
  text-transform: uppercase;
  border-radius: 5.5555555556rem;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  border: none;
}
.btn--theme--white {
  background: #FEDB3F;
  color: black;
}
.btn--theme--white:hover {
  background: #FEDB3F;
  color: white;
}
.btn--theme--yellow {
  background: #FEDB3F;
  color: black;
}
.btn--theme--yellow:hover {
  color: white;
}
.btn--theme--transparent {
  background: transparent;
  color: white;
  text-transform: none;
  font-weight: 400;
  font-size: 1rem;
}
.btn--theme--transparent:hover {
  color: #FEDB3F;
}

.section {
  height: 100vh;
  min-height: 36.1111111111rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section--font-color--white {
  color: white;
}
.section--font-color--white .section__title {
  color: inherit;
}

.section__title {
  font-size: 2.6666666667rem;
  font-weight: bold;
  margin-bottom: 1.1111111111rem;
  text-align: center;
  text-transform: uppercase;
  color: black;
}

.headline__title {
  margin-bottom: 1.3888888889rem;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
.benefits__item:before {
  content: url("https://raw.githubusercontent.com/volodmen/project3/f251c9010874560f28ef1c3573c3a7400261cd9e/img/shape.svg");
  position: absolute;
  top: 2.9444444444rem;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
@media screen and (max-width: 768px) {
  .benefits__item:before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 0.7222222222rem;
  }
  .benefits__item:last-child {
    margin-bottom: 0;
  }
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
}

.benefit__image {
  margin-bottom: 0.7222222222rem;
}
@media screen and (max-width: 480px) {
  .benefit__image {
    margin-bottom: 0;
    margin-right: 1.1111111111rem;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  width: 4.1666666667rem;
  height: 4.1666666667rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__title {
  font-weight: 700;
  font-size: 1.5rem;
}

.benefit__desc {
  color: #666666;
  font-weight: 300;
}

.headline {
  text-align: center;
  margin-bottom: 2.5555555556rem;
}

.headline__title {
  margin-bottom: 1.3888888889rem;
}

.headline__subtitle {
  padding: 0 26%;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 5%;
  }
}

.benefits-section {
  position: relative;
  background: url("/img/#") left top 57% no-repeat;
}

.reviews__display {
  background: #F8FAF9;
  padding: 2.7777777778rem 7.7777777778rem 1.8888888889rem 2.5rem;
  margin-bottom: 1.1111111111rem;
  overflow: hidden;
  position: relative;
}
.reviews__display:before {
  content: "";
  display: block;
  width: 5rem;
  height: 5rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -3.6111111111rem;
}
@media screen and (max-width: 768px) {
  .reviews__display {
    padding: 2.7777777778rem 2.5rem 1.8888888889rem;
  }
}

.reviews__item {
  display: none;
}

.reviews__item--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reviews__avatar {
  width: 14.1111111111rem;
  height: 14.4444444444rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.2222222222rem;
    height: 7.3333333333rem;
  }
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 2.1111111111rem;
  margin-bottom: 0.8888888889rem;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    margin-left: 0;
    margin-top: 1.1111111111rem;
  }
}

.reviews__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1.1111111111rem;
  color: black;
}
@media screen and (max-width: 768px) {
  .reviews__title {
    margin-top: 0;
  }
}

.reviews__text {
  margin-bottom: 0.2222222222rem;
}

.reviews__author {
  font-size: 1rem;
  font-weight: 500;
  color: black;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__item--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.interactive-avatar {
  width: 4.4444444444rem;
  height: 4.4444444444rem;
  border: 0.3333333333rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar--active {
  border-color: #FEDB3F;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.order-direction {
  background: url("https://github.com/volodmen/project3/blob/main/img/cta.jpg?raw=true") center top no-repeat;
  height: 100vh;
  min-height: 36.1111111111rem;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .order-direction {
    background: url("https://github.com/volodmen/project3/blob/main/img/cta_tablets.jpg?raw=true") center top no-repeat;
    background-size: cover;
  }
}
@media screen and (max-width: 480px) {
  .order-direction {
    background: url("https://github.com/volodmen/project3/blob/main/img/cta_phones.jpg?raw=true") center top no-repeat;
    background-size: cover;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 19%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.1111111111rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.2777777778rem;
}
.form__row:last-child {
  margin-bottom: 0;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.4444444444rem;
}
.form__block:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__block {
    margin-right: 0.8333333333rem;
  }
}

.form__input {
  width: 100%;
  padding: 1rem 0.6111111111rem;
  border: solid 0.1666666667rem transparent;
  border-radius: 0.2222222222rem;
}
.form__input--textarea {
  height: 8.3333333333rem;
  resize: none;
}
.form__input:focus {
  border-color: #FEDB3F;
  outline: none;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.4444444444rem 0.6111111111rem;
  }
  .form__input--textarea {
    height: 5rem;
    resize: none;
  }
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1.5555555556rem;
}
@media screen and (max-width: 768px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form__btns {
  margin-top: 2.2222222222rem;
}
@media screen and (max-width: 768px) {
  .form__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 0.9444444444rem;
}
.radio--checkbox {
  margin-right: 0;
}
.radio--checkbox .radio__visible {
  border-radius: 0.2222222222rem;
}
.radio--checkbox .radio__visible::before {
  background: url("https://github.com/volodmen/project3/blob/main/img/tick.png?raw=true") center center no-repeat;
}
.radio:last-child {
  margin-right: 0;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 0.5555555556rem;
}
.radio__visible::before {
  content: "";
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  background: #FEDB3F;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fixed-menu {
  position: fixed;
  top: 40%;
  right: 3%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}
.fixed-menu__black {
  color: black;
}

.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}
.fixed-menu__item:last-child {
  margin-bottom: 0;
}

.fixed-menu__link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.menu {
  padding-top: 5px;
  margin: 0 30px;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__item {
  margin-bottom: 10px;
  margin-right: 1.1666666667rem;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

.burger {
  width: 24px;
  height: 25px;
  display: none;
  position: fixed;
  right: 3%;
  z-index: 15;
  cursor: pointer;
  top: 30px;
}
@media screen and (max-width: 768px) {
  .burger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.burger__line {
  background: #fff;
  height: 4px;
  border-radius: 10px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.burger__line:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.burger__line:nth-child(3) {
  bottom: 0;
  top: initial;
}

.burger--active .burger__line:nth-child(1) {
  opacity: 0;
}
.burger--active .burger__line:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.burger--active .burger__line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(-7px) translateX(5px);
          transform: rotate(-45deg) translateY(-7px) translateX(5px);
}

.footer {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.2777777778rem 0;
  background: #fff;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contacts {
  font-style: normal;
  font-size: 1.1111111111rem;
  color: #010101;
}
@media screen and (max-width: 480px) {
  .contacts {
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contacts__phone {
  color: black;
}

#map {
  width: 100%;
  height: 100%;
}

.socials__list {
  top: 2.7222222222rem;
  right: 16.6666666667rem;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.2777777778rem;
}
.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 2rem;
  height: 2rem;
  background: center center no-repeat;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: #666666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: fixed;
  top: 0;
  left: 100%;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  color: white;
}

.submenu__item {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.submenu__item:last-child {
  margin-bottom: 0;
}
.submenu__link {
  text-decoration: none;
  font-size: 2rem;
}
.submenu__link:hover {
  opacity: 0.7;
}

.overlay--active {
  left: 0;
  opacity: 1;
}

.product__slider {
  position: relative;
}

.product-slider__arrow {
  background: url("https://raw.githubusercontent.com/volodmen/project3/c7716a221554a44b237c3adbe45a75639eb98392/img/right.svg") center center no-repeat;
  background-size: contain;
  width: 1.3333333333rem;
  height: 2.2222222222rem;
  position: absolute;
  z-index: 10;
  top: 27%;
}
.product-slider__arrow--direction--next {
  right: 5%;
}
.product-slider__arrow--direction--prev {
  left: 5%;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
@media screen and (max-width: 768px) {
  .product-slider__arrow {
    top: 26%;
  }
}

.products-section {
  background: #F8FAF9;
}

.products-slider {
  overflow: hidden;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  right: 0;
  -webkit-transition: right 0.3s;
  transition: right 0.3s;
}

.products__item {
  min-width: 100%;
}
.products__item:last-child {
  margin-right: 0;
}

.product__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .product__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.product__col {
  width: 23.3333333333rem;
  height: 28.8888888889rem;
}
@media screen and (max-width: 768px) {
  .product__col {
    width: 80%;
    text-align: center;
    height: 22.6666666667rem;
  }
}

.product__col-img {
  background: url("https://github.com/volodmen/project3/blob/main/img/longbord1.png?raw=true") center no-repeat, url("https://github.com/volodmen/project3/blob/main/img/Vector2.png?raw=true") top 63% center no-repeat;
  padding-right: 2.2222222222rem;
}
.product__col-img--shortboard {
  background: url("https://github.com/volodmen/project3/blob/main/img/shortboard.png?raw=true") center no-repeat, url("https://github.com/volodmen/project3/blob/main/img/Vector2.png?raw=true") top 63% center no-repeat;
  padding-right: 2.2222222222rem;
}
@media screen and (max-width: 768px) {
  .product__col-img {
    padding-right: 0;
    background-size: 17.6666666667rem;
  }
}
@media screen and (max-width: 480px) {
  .product__col-img {
    background-size: 15.8888888889rem;
  }
}

.product__col-text {
  padding-left: 2.2222222222rem;
}
@media screen and (max-width: 768px) {
  .product__col-text {
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.product__options {
  margin-bottom: 2.2222222222rem;
}
@media screen and (max-width: 768px) {
  .product__options {
    display: none;
  }
}
.product__options:hover .float {
  left: 100%;
  opacity: 1;
}

.product__options-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 5.0555555556rem;
  height: 5.0555555556rem;
  position: relative;
  background: #3A587E;
  border-radius: 5%;
  overflow: hidden;
}

.group__icon {
  width: 2.2222222222rem;
  height: 2.2222222222rem;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.product__options-text {
  text-transform: uppercase;
  font-size: 0.7777777778rem;
  padding: 0.5555555556rem;
  font-weight: 700;
  color: #fff;
}

.product__title {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.1111111111rem;
}

.product__text {
  padding-left: 0.1666666667rem;
  font-weight: 400;
  font-size: 1rem;
  color: #666666;
  margin-bottom: 1.2222222222rem;
}

.product__values {
  margin-bottom: 1.2222222222rem;
}

.product__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .product__list {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.product__item {
  font-size: 1rem;
}
.product__item:first-child {
  margin-right: 2.4444444444rem;
}

.board__text {
  font-weight: 400;
  color: #666666;
}

.size__text {
  font-weight: 700;
}

.product__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .product__price {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.product__price-item {
  font-weight: 300;
  font-size: 3.3333333333rem;
}

.float {
  color: #2f3234;
  position: absolute;
  left: 555.5rem;
  top: 0;
  width: 15rem;
  background: rgba(255, 255, 255, 0.93);
  border-radius: 0.2777777778rem;
  padding: 1.4444444444rem 0.6666666667rem 1.4444444444rem 1.9444444444rem;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0;
}
.float::after {
  content: "";
  position: absolute;
  top: 0;
  height: 50%;
  width: 1.6666666667rem;
  left: -1.6111111111rem;
}

.float__list {
  width: 100%;
}

.float__item {
  border-bottom: 0.2777777778rem solid transparent;
}
.float__item:last-child {
  border-bottom: 0;
}

.float__icon {
  width: 1.6666666667rem;
  height: 1.6666666667rem;
}

.float__title {
  font-size: 0.8888888889rem;
  font-weight: 500;
}

.float__subtitle {
  font-size: 0.8888888889rem;
  font-weight: 400;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .team--version--desktop {
    display: none;
  }
}
.team--version--laptop {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .team--version--laptop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.team__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  margin-right: 1.1111111111rem;
  max-width: 12.2222222222rem;
  position: relative;
}
.team__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .team__item {
    margin-right: 0;
  }
}
.team__item.accordeon__item-active .team__title:after {
  content: "";
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.team__member {
  height: 16.1111111111rem;
  margin-bottom: 1.1111111111rem;
}

.team__title {
  color: black;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.1666666667rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-decoration: none;
  border: none;
  background: none;
}
.team__title:after {
  content: "";
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 0.2222222222rem;
  border-left-width: 0.2222222222rem;
  border-top: 0.3333333333rem solid black;
  border-bottom: 0;
  display: block;
  margin-left: 0.2777777778rem;
}

.team__content {
  overflow: hidden;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  height: 0;
}
.team__content-block {
  padding-bottom: 0.2777777778rem;
  text-align: center;
}
.team__content-title {
  font-size: 1rem;
  font-weight: 400;
}
.team__content-subtitle {
  font-size: 1rem;
  font-weight: 300;
  color: #666666;
  margin-bottom: 1.1111111111rem;
}

.team--version--desktop .team__content {
  top: 100%;
}

.modal {
  display: none;
}
.modal.error-modal .modal__content {
  color: red;
}
.modal.fancybox-content {
  padding: 0 !important;
}
.modal .fancybox-button {
  display: none;
}

.modal__container {
  background: #fff;
  padding: 1.9444444444rem 3.3333333333rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-error {
  border-color: hotpink;
}

.modal__content {
  margin-bottom: 0.8333333333rem;
  color: #000;
}

.player-section {
  background: #F8FAF9;
}
.player-section__container {
  max-width: 36.6666666667rem;
  height: 22.5rem;
  position: relative;
  margin: 0 auto;
}

.player {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.player.hidden {
  opacity: 0;
  -webkit-transition: opasity 0.3s;
  transition: opasity 0.3s;
}
.player__splash {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}
.player__splash:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.player__wrapper {
  height: 100%;
}
.player__wrapper.active .player__splash {
  display: none;
}
.player__controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1.9444444444rem;
  background: #3e3e3e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 25px;
}
.player__start {
  width: 0;
  height: 0;
  border: 0.6111111111rem solid transparent;
  border-left-color: #626262;
  padding: 0;
  border-right-width: 0;
  background: transparent;
  outline: none;
  position: relative;
}
.player__start.paused {
  width: 0.7777777778rem;
  height: 1.2222222222rem;
  border: none;
}
.player__start.paused:after, .player__start.paused:before {
  content: "";
  display: block;
  position: absolute;
  width: 0.2777777778rem;
  top: 0;
  bottom: 0;
  background: #626262;
}
.player__start.paused:after {
  right: 0;
}
.player__start.paused:before {
  left: 0;
}
.player__playback {
  height: 0.8888888889rem;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 0.8333333333rem;
}
.player__playback:before {
  content: "";
  height: 0.2222222222rem;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  background: #626262;
  display: block;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.player__playback-button {
  background: #626262;
  border-radius: 2.7777777778rem;
  border: none;
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  padding: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 0;
}
.player__duration {
  color: #626262;
  font-weight: bold;
}
.player__elem {
  width: 100%;
  height: 100%;
}

.products-menu-section {
  background: url("https://github.com/volodmen/project3/blob/main/img/Slider.jpg?raw=true") center center/cover no-repeat;
  position: relative;
  color: #fff;
}

.products-menu {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.products-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.products-menu__image {
  width: 100%;
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.products-menu__title {
  position: relative;
  width: 3.8888888889rem;
}
.products-menu__title:after {
  content: "";
  display: block;
  top: 0;
  bottom: 0rem;
  left: 0;
  right: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
}
.products-menu__text {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  -webkit-transform: rotate(-90deg) translateY(-50%);
          transform: rotate(-90deg) translateY(-50%);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  white-space: nowrap;
  line-height: 1;
  font-size: 2.2222222222rem;
  font-weight: bold;
}
.products-menu__content {
  background: rgba(51, 53, 55, 0.9);
  width: 0;
  position: relative;
  overflow: hidden;
  -webkit-transition: width 0.7s;
  transition: width 0.7s;
}
.products-menu__container {
  padding: 2.2222222222rem 4.0555555556rem 2.5rem 1.4444444444rem;
}
.products-menu__close {
  position: absolute;
  top: 20px;
  right: 25px;
  border: none;
  background: transparent;
}

.section__title.products-menu-section__title {
  position: absolute;
  top: 5rem;
  left: 4.4444444444rem;
  color: #fff;
}

.product__ingredients {
  margin-bottom: 1.1111111111rem;
}
@media screen and (max-width: 768px) {
  .product__ingredients {
    display: none;
  }
}

.ingredients {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.ingredients__button {
  width: 5rem;
  height: 5rem;
  background: #3A587E;
  border-radius: 0.2777777778rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

.ingredients__button-icon {
  margin-bottom: 2.2222222222rem;
}

.ingredients__button-icon-elem {
  fill: currentColor;
  width: 2.8333333333rem;
  height: 2.8333333333rem;
  display: block;
}

.ingredients__button-text {
  line-height: 1;
}

.ingredients:hover .ingredients__button {
  background: #3465A3;
}
.ingredients:hover .ingredients__dropdown {
  left: 100%;
  opacity: 1;
}

.ingredients__dropdown {
  color: #2f3234;
  position: absolute;
  left: -555.5rem;
  top: 0;
  width: 15rem;
  background: rgba(255, 255, 255, 0.93);
  border-radius: 0.2777777778rem;
  padding: 1.4444444444rem 0.6666666667rem 1.4444444444rem 1.9444444444rem;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0;
}
.ingredients__dropdown:after {
  content: "";
  position: absolute;
  top: 0;
  height: 50%;
  width: 1.6666666667rem;
  left: -1.6111111111rem;
}

.ingredients__table {
  width: 100%;
}

.ingredients__icon {
  width: 1.9444444444rem;
  height: 1.9444444444rem;
  padding: 1px;
}

.ingredients__table-row {
  border-bottom: 0.2777777778rem solid transparent;
}
.ingredients__table-row:last-child {
  border-bottom: 0;
}

.ingredients__text-container {
  padding-left: 0.5555555556rem;
}

.ingredients__table-cell {
  vertical-align: middle;
}

.ingredients__text {
  font-size: 0.8888888889rem;
  font-weight: bold;
}