.benefits{
    display: flex;
}

.benefits__item{
    flex: 1;
    padding: 0 3%;
    position: relative;

    &:before{
        content: url("https://raw.githubusercontent.com/volodmen/project3/f251c9010874560f28ef1c3573c3a7400261cd9e/img/shape.svg");
        position: absolute;
        top: 53px;
        right: 0;
        transform: translateX(50%);
    }

    &:first-child{
        padding-left: 0;
    }

    &:last-child{
        padding-right: 0;

        &:before{
            display: none;
        }
    }
}