.btn{
    font-size: 16px;
    font-weight: 800;
    padding: 22px 41px;
    text-transform: uppercase;
    border-radius: 100px;
    line-height: 1;
    text-decoration: none;
    display: inline-block;
    border: none;


    &--theme--white{
        background: $yellow;
        color: black;

        &:hover{
            background: $yellow;
            color: white;
        }
    }

    &--theme--yellow{
        background: $yellow;
        color: black;

        &:hover{
            color: white;
        }
    }

    &--theme--transparent{
        background: transparent;
        color: white;
        text-transform: none;
        font-weight: 400;
        font-size: 18px;

        &:hover{
            color: $yellow;
        }
    }
}
