.burger {
    width: 24px;
    height: 25px;
    display: none;
    position: fixed;
    right: 3%;

    z-index: 15;
    cursor: pointer;
    top: 30px;

    @include tablets{
        display: inline-flex;
    }
}

.burger__line{
    background: #fff;
    height: 4px;
    border-radius: 10px;

    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.4s;

    &:nth-child(2){
        top: 50%;
        transform: translateY(-50%);
    }

    &:nth-child(3){
        bottom: 0;
        top: initial;
    }
}

.burger--active{
    .burger__line{
      &:nth-child(1){
        opacity:0;
      }
      
      &:nth-child(2){
        transform:rotate(45deg);
      }
      
      &:nth-child(3){
        transform:rotate(-45deg) translateY(-7px) translateX(5px);
      }
    }
  }
  
