.header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-weight: bold;
}
.logo{
    display: block;
    max-width: rem(60px);
}

.phone-number.header__phone-number{
    @include tablets{
        display: none;
    }
}

.phone-number{
    font-size: rem(24px);
    text-decoration: none;
    display: flex;
    align-items: center;   
}

.phone-number__icon{
    flex-shrink: 0;
}
.phone-number__text{
    white-space: nowrap;
}

.phone-number__icon-elem{
    width: rem(12px);
    height: rem(15px);
    margin-right: rem(6px);
}
