.hero{
    background: #1968B1;
    background: url("https://github.com/volodmen/project3/blob/main/img/bg.jpg?raw=true")center top no-repeat;
    height: 100vh;
    min-height: rem(650px);
    color: #fff;
    background-size:cover;

    @include tablets{
        background: #1968B1 url("https://github.com/volodmen/project3/blob/main/img/arnaud.png?raw=true") center top rem(90px) no-repeat;
    } 
}
.hero__title-section{
    width: 46%;

    @include tablets {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.hero__icon-section{
    @include tablets{
        display: none;
    }
}

.hero__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: rem(24px) 0 rem(45px) 0;
}
.hero__main-title{
    font-size: rem(48px);
    line-height: 1.1;
    font-weight: bold;
    margin-bottom: rem(30px);
    text-transform: uppercase;
}
.hero__title-desc{
    font-size: rem(21px);
    margin-bottom: rem(52px);
    padding-right: 10%;

    @include tablets{
        padding: 0 20%;
    }
}
