.menu{
    padding-top: 5px;
    margin: 0 30px;
    @include tablets{
        display: none;
    }
}

.menu__list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.menu__item{
    margin-bottom: 10px;
    margin-right: rem(21px);
    &:last-child{
        margin-right: 0;
    }
}

.menu__link{
    text-decoration: none;
    white-space: nowrap;
}
