.order-direction{
    background: url("https://raw.githubusercontent.com/volodmen/project3/f251c9010874560f28ef1c3573c3a7400261cd9e/img/cta.svg")center top no-repeat;
    height: 100vh;
    min-height: 650px;
    background-size:100%;

}