.order-direction{
    background: url("https://github.com/volodmen/project3/blob/main/img/cta.jpg?raw=true")center top no-repeat;
    height: 100vh;
    min-height: rem(650px);
    background-size:cover;

    @include tablets{
        background: url("https://github.com/volodmen/project3/blob/main/img/cta_tablets.jpg?raw=true") center top no-repeat;
    }

    @include phones{
        background: url("https://github.com/volodmen/project3/blob/main/img/cta_phones.jpg?raw=true") center top no-repeat;
    }
}