.overlay{
    height: 100%;
    width: 100%;
    background-color: $grey;
    display: flex;
    align-items:center;
    justify-content: center;
    transition:all .4s;
    
    position:fixed;
    top:0;
    left:100%;
    opacity:0;
    width: 100%;
    height: 100%;
    z-index: 10;

    color:white;
  }

.submenu{
    &__item{
      margin-bottom:20px;
      display:flex;
      flex-direction:column;
      align-items:center;

      &:last-child{
        margin-bottom:0;
    }

    }
    
    &__link{
        text-decoration: none;
        font-size: rem(36px);
        
    
      &:hover{
        opacity:.7;
      }
    }
}

.overlay--active{
    left: 0;
    opacity:1;
}
  
