.products__slider{
    overflow: hidden;
}

.products{
    display: flex;
    position: relative;
    right: 0;
    transition: right .3s;
}

.products__item{
    min-width: 100%;

    &:last-child{
        margin-right: 0;
    }
}
.product__container{
    display: flex;
    align-items: center;
    @include tablets{
        flex-direction: column;
    }
}
.product__col{
    width: rem(420px);
    height: rem(520px);

    @include tablets{
        width: 80%;
        text-align: center;
        height: rem(408px);
    }

}

.product__col-img{
    background: url("https://github.com/volodmen/project3/blob/main/img/longbord1.png?raw=true")center no-repeat, url("https://github.com/volodmen/project3/blob/main/img/Vector2.png?raw=true") top 63% center no-repeat;
    padding-right: rem(40px);

    &--shortboard{
        background: url("https://github.com/volodmen/project3/blob/main/img/shortboard.png?raw=true")center no-repeat, url("https://github.com/volodmen/project3/blob/main/img/Vector2.png?raw=true") top 63% center no-repeat;
    padding-right: rem(40px);
    }

    @include tablets{
        padding-right: 0;
        background-size: rem(318px);
    }
    @include phones{
        background-size: rem(286px);
    }
}

.product__col-text{
    padding-left: rem(40px);

    @include tablets{
        padding-left: 0;
        display: flex;
        flex-direction: column;
    }
}

.product__options{
    margin-bottom: rem(40px);

    @include tablets{
        display: none;
    }

    &:hover{
        .float{
            left: 100%;
            opacity: 1;
        }
    }
}

.product__options-image{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: rem(91px);
    height: rem(91px);
    position: relative;
    background: #3A587E;
    border-radius: 5%;
    overflow: hidden;

}

.group__icon{
    width: rem(40px);
    height: rem(40px);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, - 50%);
}

.product__options-text{
    text-transform: uppercase;
    font-size: rem(14px);
    padding: rem(10px);
    font-weight: 700;
    color: #fff;
}

.product__title{
    font-size: rem(36px);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: rem(20px);
}

.product__text{
    padding-left: rem(3px);
    font-weight: 400;
    font-size: rem(18px);
    color: $grey;
    margin-bottom: rem(22px);
}

.product__values{
    margin-bottom: rem(22px);
}

.product__list{
    display: flex;

    @include tablets{
        justify-content: space-evenly;
    }
}

.product__item{
    font-size: rem(18px);

    &:first-child{
        margin-right: rem(44px);
    }
}
.board__text{
    font-weight: 400;
    color: $grey;
}

.size__text{
    font-weight: 700;
}
.product__price{
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablets{
        justify-content: space-around;
    }
}

.product__price-item{
    font-weight: 300;
    font-size: rem(60px);
}